@page "{id}"
@model TarsOffice.Pages.Teams.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Team.Name</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Upcomming team bookings</h2>
        @foreach (var teamBooking in Model.TeamBookings)
        {
    <div>
        <h4>@teamBooking.Date</h4>
        <p><a asp-page="../Bookings/Create" asp-route-date="@teamBooking.Date.ToString("yyyy-MM-dd")">create</a></p>
        <ul>
            @foreach (var member in teamBooking.TeamBookings)
            {
                <li>
                    @member.User.UserName
                    @if (member.Status == BookingStatus.Tentative)
                    {
                        <span>(tentative)</span>
                    }
                </li>
            }
        </ul>
    </div>
        }
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Team.Id">Edit</a> |
    <a asp-page="../Index">Back to List</a>
</div>
